@charset "UTF-8";

html {
    font-family: Arial;
    background-image: linear-gradient(225deg, #B7E4C7, #52B788, #1B4332);
    height: 100%;
}

main {
    background-color: #d8f3dca5;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 7%;
    box-shadow: 10px 10px 50px #2f3937
}

p {
    text-align: justify;
    color: #264537;
}

h1 {
    color: #1a3a2b;
    text-shadow: 1px 1px 0 #617671;
    justify-self: center; 
}
h2 {color: #1a3a2b;}