@charset "UTF-8";

@font-face {
    font-family: "idroid";
    src: url(pacote-projeto-d010/fontes/idroid.otf) format("opentype" );
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "bebas";
    src: url(pacote-projeto-d010/fontes/bebas.ttf) format("truetype" );
    font-weight: normal;
    font-style: normal;
}

:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial,Verdana, Helvetica, sans-serif;
    --fonte-destaque: "bebas", cursive;
    --fonte-android: "idroid", cursive;
}
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
    margin: 0;
}

header#mainheader {
    background-image: linear-gradient(180deg, var(--cor3), var(--cor5));
    min-height: 150px;
}

h1#title {
    color: white;
    padding-top: 10px;
    margin-bottom: 20px;
    font-size: 3em;
    text-align: center;
    font-family: var(--fonte-destaque);
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5);
}

p#subtitle {
    font-size: 1.2em;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5);
}

main h2 {
    color: var(--cor5);
    font-family: idroid;
    font-size: 1.9em;
}

main h3{
    font-family: idroid;
    color: var(--cor4);
    font-size: 1.5em;
}

nav {
    background-color: rgba(6, 61, 30, 0.20); /*cor 5 com  transparencia */
    padding: 15px 0;
    margin-top: 25px;
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.315);
}
nav > a { 
    text-decoration: none;
    padding: 15px;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    transition-duration: 0.5s;
}

nav > a:hover { 
    background-color: rgb(0, 57, 22);
    color: yellow
}
nav > a:active { 
    background-color: #13281b;
    color: rgb(157, 157, 5);
}

main {
    padding: 20px;
    margin: auto;
    background-color: white;
    max-width: 900px;
    min-width: 280px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.315);
    border-radius: 0 0 10px 10px;
}
main p {
    font-size: 1.2em;
    text-align: justify;
    margin: 15px 0;
    text-indent: 25px;
    line-height: 2em;
}
main img {
    width: 100%;
}
img.imgpqueno {
    width: 50%;
    height: 50%;
    display: block;
    margin: auto;
    max-width: 350px;
    min-width: 400px
}

main{
    width: 100%;
}

main strong, main a {
    color: var(--cor4);
    font-weight: bold;
}

div.title-mark{
    background-image: linear-gradient(90deg, var(--cor1), transparent);
    text-indent: 20px;
}
p > a {
    background-color: var(--cor1);
    padding: 2px 6px;
    text-decoration: none;

}
p > a:hover {
    text-decoration: underline;
    background-color: var(--cor3);
}

a.link::after{
    /*emoji de clipes */
    content: '🔗';

}

aside#video {
    background-color: rgb(15, 68, 41);
    margin: 0 -20px 30px -20px;
    padding: 20px;
    padding-bottom: 58.5%;
    position: relative;
}
aside#video > iframe {
    position: absolute;
    width: 90%;
    height: 90%;
    top: 5%;
    left: 5%;
    
}

aside#externo {
    margin-top: 20px;
    background-color: var(--cor1);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.315);
}

aside strong {
    color: var(--cor5)
}
aside > h3 {
    background-color: var(--cor4);
    padding: 5px;
    font-family: var(--fonte-padrao);
    font-size: 1.3em;
    margin: -10px;
    border-radius: 10px 10px 0 0;
    color: white;
}

aside > ul {
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}


footer {
    text-align: center;
    padding-top: 15px;
    margin-top: 35px;
    color: white;
    height: 30px;
    background-color: var(--cor5);
}

footer > a {
    text-decoration: underline;
    color: white;
    font-weight: bold;

}
footer > a:hover {
    text-decoration: underline;
    color: var(--cor1);
    font-weight: bold;
    
}